#ab{
    /* font-style: italic; */
    font-size:  20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000; /*It darkens the text*/
    line-height: 30px; /*height between 2 lines/*
}
#bb{
    font-style: italic;
    font-size: 20px;
}
#cc{

}
